<div class="photo__header">
  <div class="photo__title">Photo Gallery</div>
  <div class="photo__search">
    <mat-form-field>
      <input matInput placeholder="Search by title" [value]="clientSearch" [(ngModel)]="clientSearch">
    </mat-form-field>
    <button class="photo__clearSearch" mat-raised-button (click)='clearInput()'>Clear</button>
  </div>
</div>
<div class="photo__container">
  <div
    *ngFor=" let photo of photos$ | async | filterPhotos:clientSearch"
    class="photo__item">
    <mat-card (click)="openFullPhoto(photo.url)">
      <mat-card-subtitle>{{photo.title}}</mat-card-subtitle>
      <mat-card-content class="photo__body">
        <img class="photo__thumbnail" [src]="photo.thumbnailUrl">
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="photo__bottom">
  <div class="photo__pageNumberSettings">
    <button  class="photo__pageNumberElement" mat-raised-button (click)="changePageNumber(-1)">Prev</button>
    <div class="photo__pageNumberElement photo__pageNumber">{{pageNumber$ | async}}</div>
    <button  class="photo__pageNumberElement" mat-raised-button (click)="changePageNumber(1)">Next</button>
  </div>
  <mat-select
    class="photo__pageSize"
    [ngModel]="pageSize$ | async"
    (selectionChange)="changePageSize($event.value)">
    <mat-option *ngFor="let pageSize of [10,20,50,100]"  [value]="pageSize">
      {{pageSize}}
    </mat-option>
  </mat-select>
</div>
